
.sign-up-container{
    border: 1px solid thistle;
    box-shadow: -4px 4px 5px 2px rgba(0,0,0,0.2);
    margin-top: 30px;
}


.container input:not([type=checkbox]){
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.2);
}
.sign-up-container{
    background: rgb(245, 236, 236);
    border-radius: 10px;
}

